@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;600&display=swap');

/*CONFIG PARA TODOS OS ELEMENTOS DO SITE*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Jost';
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/*FIM DA CONFIG PARA TODOS OS ELEMENTOS DO SITE*/


:target {
    scroll-margin-top: 200px;
}

.bike {
    display: none;
}

/*INICIO DO HEADER*/
header {
    width: 100%;
    background-color: white;
    position: fixed;
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 10px #63208a73;
}

span {
    color: #7a1399
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header .menu ul li a {
    color: #000000;
    font-weight: 400;
    font-size: 1.5rem;
}

header .menu ul li a:hover {
    color: #7a1399;
    transition: 0.3s;
}

.login {
    background-color: #7a1399;
    width: 6rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 15px;
}

.login p a {

    color: white;
}

/*FIM DO HEADER*/

/*CONFIG PARA O PRIMEIRO TEXTO DO SITE*/
.inicio {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-evenly;
}

.inicio div h1 {
    font-size: 3rem;
}

/*FIM DA CONFIG PARA O PRIMEIRO TEXTO DO SITE */

/*INICIO DO CARROSSEL DE IMAGENS*/
.slider {
    justify-content: center;
    overflow: hidden;
    border-radius: 2vw;
}

.slides {
    width: 400%;
    height: 28vw;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    transition: 1s;
}

.slide img {
    width: 35vw;
    margin-left: 7vw;
}

.manual-navigation {

    display: flex;
    justify-content: center;

}

.manual-btn {
    border: 1px solid #7a1399;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 45px;
}

.manual-btn:hover {

    background-color: #7a1399
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

.navigation-auto div {
    border: 2px solid #7a1399;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #7a1399;
}

.radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #7a1399;
}

.radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #7a1399;
}

/*FIM DO CARROSSEL DE IMAGENS*/


/*CONFIG PARA TODOS OS ELEMENTOS H2 DO SITE*/
h2 {
    text-align: center;
    margin: 3rem;
    font-size: 3rem;
}

/*FIM DA CONFIG PARA TODOS OS ELEMENTOS H2 DO SITE*/


/*CONFIG PARA TODOS OS ELEMENTOS H4 DO SITE*/
h4 {
    font-size: 1.7rem;
}

/*FIM DA CONFIG PARA TODOS OS ELEMENTOS H4 DO SITE*/


/*COMEÇO DA SECTION PRODUTOS*/
.container {
    justify-content: center;
    display: flex;
    max-width: 50%;
}

.Produtos {
    justify-content: center;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.Produto {
    max-width: 400px;
    max-height: 600px;
    height: 25rem;
    overflow: hidden;
    border-radius: 15px;
    border: solid 2px #7a1399;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.produtoimg {
    width: 15rem;
}

.titulo {
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.preço {
    font-size: 1.5rem;
    color: #7a1399;
}

button {
    margin: 1rem;
    color: white;
    background-color: #7a1399;
    border-radius: 15px;
    border: none;
    padding: 1rem 2rem;
}

/*FIM DA SECTION PRODUTOS*/


/*CONFIG PARA TODOS OS BOTÕES*/
button:hover,
.login:hover {
    background-color: #b184e9;
    transition: 0.3s;
    cursor: pointer;
}

/*FIM DA CONFIG PARA TODOS OS BOTÕES*/

/*COMEÇO DAS SECTION EMPRESA*/
.empresa {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    background-color: #f0e3ffb9;
    margin-top: 3rem
}

.info-empresa {
    width: 50%;
    text-align: left;
}

.empresa img {
    max-width: 700px;
    width: 50rem;
    border-radius: 15px;
}

/*FIM DA SECTION EMPRESA*/


/*COMEÇO DO FOOTER*/
.ico-login {
    display: none;
}

.Contato {
    justify-content: center;
    margin-bottom: 3rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

input {
    padding: 1rem;
    border-radius: 15px;
    border: solid 2px #7a1399;
    font-size: 1.2rem;
    width: 60rem;
    max-width: 300px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #3a205a;
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem;
    gap: 2rem;
    justify-content: space-around;
}

/*FIM DO FOOTER*/


/*CONFIG PARA DISPOSITIVOS MOBILE*/
@media (max-width: 640px) {

    header,
    .inicio {
        flex-direction: column;
        text-align: center;
    }

    header {
        box-shadow: 1px 1px 10px #63208a73;
    }

    .inicio div h1 {
        margin-top: 5rem;
        font-size: 1.5rem;
    }

    .inicio .container {
        display: none;
    }

    .Produtos {
        justify-content: center;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    .Produto {
        max-width: 12.5rem;
    }

    .Produto img {
        width: 40vw;
    }

    .empresa {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .empresa img {
        width: 90vw;
    }

    .info-empresa {
        width: 100%;
    }

    .bike {
        display: block;
        width: 90vw;
        margin-left: 3.5vw;
    }

    .ico-login {
        display: flex;
        margin-left: 13.5rem;
    }

    .container-logo {
        align-items: center;
        display: flex;
    }

    .login {
        display: none;
    }
}

/*FIM DA CONFIG PARA DISPOSITIVOS MOBILE*/


/*CONFIG PARA TABLETS E DESK-TOP*/
@media (min-width: 640px) and (max-width:992px) {

    .empresa img {
        width: 50rem;
        height: 20rem;
        max-width: 50%
    }

    .empresa {
        align-items: center;
    }

    .empresa p,
    .empresa h2 {
        margin-top: -1rem;
    }
}

/*FIM DA CONFIG PARA TABLETS E DESK-TOP*/